body{
    margin: 0px;
}

.btn{
    display: inline-block;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 20px 20px;
    transition: 0.3s all;
    text-decoration: none;
    color: black;
    border: none;
    background: none;
}

.btn-black{
    background-color: black;
    color: white;
}

.btn-white{
    background-color: white;
    color:black;
}

.header-logo img{
    width: 150px;
}

.header-nav .nav-item{
    margin: 0px 15px;
}

.header-nav .nav-list .nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.header-nav .nav-list{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.header-main{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.burger-menu{
    width: 50px;
    height: 25px;
    position: relative;
}

.burger-menu .line{
    background-color: black;
    height: 3px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.burger-menu .line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-menu .line:last-of-type {
    bottom: 0%;
}

.section-hero{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-hero .hero-content{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1{
    font-size: 40px;
}

.hero-content p{
    font-size: 25px;
}

.section-about .about-wrapper{
    display: flex;
}

.about-wrapper .about-img, .about-wrapper .about-content{
    width: 50%;
}

.about-img img{
    width: 100%;
    padding: 20px;
}

.about-content{
    padding: 40px;
}

.eshop-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.section-eshop .product-item{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-main{
    text-align: center;
}

/* TELEPHONE */
@media(max-width: 526px) {
    .header-logo img{
        width: 150px;
    }
    
    .header-nav .nav-list .nav-link{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    .header-nav .nav-list{
        list-style: none;
        padding: 0px;
        display: block;
    }
    
    .header-main{
        display: block;
        text-align: center;

    }
}

/* TELEPHONE */
@media(max-width: 526px) {
    .section-about .about-wrapper{
        display: flex;
    }
    
    .about-wrapper .about-img, .about-wrapper .about-content{
        width: 50%;
    }
    
    .about-img img{
        display: flex;
        width: 100%;
        padding: 20px;
    }
    
}