body{
    margin: 0px;
}

.header-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.header-main{
    display: flex;
    justify-content: space-between;
}

.header-logo img{
    width: 150px;
}

.header-nav .nav-item{
    margin: 0px 15px;
}

.header-nav .nav-list .nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.section-hero{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-hero .hero-content{
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1{
    font-size: 40px;
}

.hero-content p{
    font-size: 25px;
}

.section-about .about-wrapper{
    display: flex;
}

.about-wrapper .about-img, .about-wrapper .about-content{
    width: 50%;
}

.about-img img{
    width: 100%;
    padding: 20px;
}

.about-content{
    padding: 40px;
}

.eshop-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.section-eshop .product-item{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-main{
    text-align: center;
}